<html>
<head>
<link rel="stylesheet" type="text/css" href="themes/explosive_skin_2/default.css">
<title></title>
</head>

<body>

<div id="menu">
 <ul>
 {{#menu}}
  <li><a href="{{{link}}}">{{{index}}}</a></li>
 {{/menu}}
 </ul>
</div>

<div id="container">

  <div id="containertext"> 
{{{content}}}
  </div>
</div>
 
<div class="footer">
Powered by <a href="http://kcms.qc.to">KCms</a>
</div>

</body>
</html>
