<link rel=stylesheet href="themes/red_yourox/new.css">

<span class="menu"><div style="text-align: center">{{#menu}}
{{#selected}}<b>{{/selected}}<a href="{{{link}}}">{{{index}}}</a> {{#selected}}</b>{{/selected}}
{{/menu}}</div></span><br /><br />
{{{content}}}
