<title></title>
<link rel=stylesheet href="themes/red_yourox/new.css">

<span class="menu">{{#menu}}
{{#selected}}<b>{{/selected}}<a href="{{{link}}}">{{{index}}}</a> {{#selected}}</b>{{/selected}}
{{/menu}}</span><br /><br />
{{{content}}}
